

<% @contestants.each do |contestant| %>
<section class="contestant-<%=contestant.id%>">
<p>Contestant Name: <%= contestant.name %></p>
<p>Contestant Projects: <%=contestant.project_names%></p>
</section>
<% end %>
